.search {
  &__content {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #dee2e6;
    }
  }
  &__title {
    margin-left: 10px;
    color: #0075c1;
  }
  &__vote {
    margin-left: auto;
    background-color: orange;
    padding: 5px;
  }
}
